body{
    position: relative;
    height: 100%;
    background-image: url(../img/stars.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.page{
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.title p {
    color: green;

}

.section{
    display:flex;
    justify-content: center;;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'pathmay Gothic One' sans-serif;
    font-size:500%;
    font-weight: 600px;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
}

 .contenu{
   /*  width: 50%;
    line-height:50px;
    text-align: justify; */
    position: relative;
     top: 9999px; 
     transform: perspective (250px) rotateX(25deg);
     transform-origin: 50% 100%; 
    animation: contenu 100s linear;
} 

.contenu .title{
    font-size: 45%;
    text-align: center;
}
.contenu .title p{
    margin:0 0 25px;
   /*  text-transform: uppercase; */
}

  
  @keyframes contenu{
    0%
  {
    top:0;
   /*  transform: rotateX(20deg) translateZ(0); */
  }
  100%{
    top: -6000px;
  /*   transform: rotateX(25deg) translateZ(-2500px); */
  }
  } 